In [ ]:
import numpy as np
import pandas as pd

### Read and display info about our data

In [ ]:
df = pd.read_csv('my-users.csv')
df.head()

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.describe()

### Data manipulation

In [ ]:
bonus = np.round(df['income'] * df['experience'] / 100, 2)
df['bonus'] = bonus
bonus

In [ ]:
# get a row based on index
df.iloc[0]

In [ ]:
# conditional filtering
df[(df['income'] > 3000) & (df['city'] == 'Sofia')]

In [ ]:
def mask_fav_food(food):
    if len(food) < 3:
        return food
    else:
        middle_letters = food[1:-1]
        asterisks = '*' * len(middle_letters)
        return food[0] + asterisks + food[-1]

df['masked_food'] = df['fav_food'].apply(mask_fav_food)
df.head()

In [ ]:
def action_type(income, experience):
    if income < 3000 and experience > 3:
        return "Promotion required"
    else:
        return "Other"

# apply method on more than one row
# df['action'] = df[['income','experience']].apply(lambda df: action_type(df['income'], df['experience']),axis=1)
df['action'] = np.vectorize(action_type)(df['income'], df['experience'])
df.head()

In [ ]:
df['income'].max()

In [ ]:
df['city'].value_counts()

### Grouping data

In [ ]:
# we specify which columns to be returned, because not all columns are of number value and we cannot calculate mean for all columns
df.groupby('city')[['income', 'experience']].mean()

In [ ]:
double_group = df.groupby(['city', 'smoker'])[['income', 'experience']].mean()
print(double_group.loc[('Sofia', 'No')])
double_group

### Concatenation

In [ ]:
data_one = {'A': ['A0', 'A1', 'A2', 'A3'],'B': ['B0', 'B1', 'B2', 'B3']}
data_two = {'C': ['C0', 'C1', 'C2', 'C3'], 'D': ['D0', 'D1', 'D2', 'D3']}

one = pd.DataFrame(data_one)
two = pd.DataFrame(data_two)

axis1 = pd.concat([one, two], axis=1)
axis1

### Merge

In [ ]:
people_one = pd.DataFrame({'in_id':[1,2,3,4],'name':['Ani','Biser','Valeri','Georgi']})
people_two = pd.DataFrame({'out_id':[1,2,3,4],'name':['Jana','Ani','Ioana','Biser']})

pd.merge(people_one, people_two, how='inner', on='name')