In [1]:
import numpy as np
import pandas as pd

In [2]:
index_column = ['USA', 'Canada', 'Mexico']
years_data_column = [2000, 2001, 2009]

my_table = pd.Series(data=years_data_column, index=index_column)
print(my_table)
# Pandas tables also receive number index column
print(my_table[0])
print(my_table['USA'])

USA       2000
Canada    2001
Mexico    2009
dtype: int64
2000
2000

In [3]:
fruits = {'kiwi': 5, 'apple': 2, 'banana': 3}
print(pd.Series(fruits))

kiwi      5
apple     2
banana    3
dtype: int64

In [4]:
list_one = {'Iva': 80, 'Georgi': 450, 'Mila': 200, 'Elena': 250}
list_two = {'Miro': 100,'Georgi': 500, 'Iva': 210,'Jana': 260}

incomes_one = pd.Series(list_one)
incomes_two = pd.Series(list_two)

In [5]:
list_one.keys()

dict_keys(['Iva', 'Georgi', 'Mila', 'Elena'])

In [6]:
# this way we can add the 2 tables and where a key is missing in one of the tables we will use 0 as default value
# the result column is floating numbers after we used mathematical operation
incomes_one.add(incomes_two, fill_value=0)

Elena     250.0
Georgi    950.0
Iva       290.0
Jana      260.0
Mila      200.0
Miro      100.0
dtype: float64

### Working with random data table

In [7]:
np.random.seed(199)
my_data = np.random.randint(0, 101, (4, 3))
my_data

array([[36, 32, 71],
       [66, 13, 58],
       [72, 18, 85],
       [82, 11, 94]])

In [8]:
my_index = ['Iva', 'Eli', 'Gosho', 'Ivan']
my_columns = ['Q1', 'Q2', 'Q3']

In [9]:
df = pd.DataFrame(my_data, index=my_index, columns = my_columns)
df

       Q1  Q2  Q3
Iva    36  32  71
Eli    66  13  58
Gosho  72  18  85
Ivan   82  11  94

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Iva to Ivan
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Q1      4 non-null      int32
 1   Q2      4 non-null      int32
 2   Q3      4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes